/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to bottom, #111827, #111827); 
   
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
