*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to bottom, #111827, black);
   
}
 a{
    text-decoration: none;
} 
span{
    color: #fff;
}
.header_one{
    width: 100%;
    position: relative;
    height: 80px;
}
.header_two{
    width: 100%; /* w-full */
    border-bottom-width: 1px;/* border-b dark:border-[#ffffff1c] */
    height: 80px; /* h-[80px] */
    border-color: #ffffff1c;
    z-index: 80; /* z-[80] */
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.12); /* dark:shadow */
}
.header_three{
    width: 95%; /* w-[95%] */
  /* 800px:w-[92%] */
  width: 92%; /* 800px:w-[92%] */
  margin: auto; /* m-auto */
  padding: 0.75rem; /* py-2 */
  height: 100%; /* h-full */
}
.header_four{
    width: 100%; /* w-full */
   
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: space-between; /* justify-between */
  padding: 0.75rem; /* p-3 */
}
.header_five{
    font-size: 25px; /* text-[25px] */
  font-family: "Poppins", sans-serif; /* font-Poppins */
  font-weight: 700; /* font-[500] */
  color: white;
  
}
.header_six{
    display: flex; /* flex */
    color: white;
    align-items: center; /* items-center */
   
}
.header_seven{
    display: none;
}
.header_eight{
   
  font-size: 18px; /* text-[18px] */
  padding-left: 1.5rem; /* Equivalent to Tailwind px-6 */
  padding-right: 1.5rem; /* Equivalent to Tailwind px-6 */
  font-family: "Poppins", sans-serif; /* font-Poppins */
  font-weight: 400; /* font-[400] */
}
.header_nine{
    font-size: 18px; /* text-[18px] */
  padding-left: 1.5rem; /* Equivalent to Tailwind px-6 */
  padding-right: 1.5rem; /* Equivalent to Tailwind px-6 */
  font-family: "Poppins", sans-serif; /* font-Poppins */
  font-weight: 400; /* font-[400] */
  color:  #37a39a; /* text-[crimson] */
}
.header_ten{
    font-size: 18px; /* text-[18px] */
    padding-left: 1.5rem; /* Equivalent to Tailwind px-6 */
    padding-right: 1.5rem; /* Equivalent to Tailwind px-6 */
    font-family: "Poppins", sans-serif; /* font-Poppins */
    font-weight: 400; /* font-[400] */

}
.header_eleven{
    font-size: 18px; /* text-[18px] */
  padding-left: 1.5rem; /* Equivalent to Tailwind px-6 */
  padding-right: 1.5rem; /* Equivalent to Tailwind px-6 */
  font-family: "Poppins", sans-serif; /* font-Poppins */
  font-weight: 400; /* font-[400] */
  
}
.header_twelve{
    font-size: 18px; /* text-[18px] */
  padding-left: 1.5rem; /* Equivalent to Tailwind px-6 */
  padding-right: 1.5rem; /* Equivalent to Tailwind px-6 */
  font-family: "Poppins", sans-serif; /* font-Poppins */
  font-weight: 400; /* font-[400] */
 
}
.header_thirteen{
    display: flex; /* flex */
    align-items: center; /* items-center */
    justify-content: center; /* justify-center */
    margin-left: 1rem; /* Equivalent to Tailwind mx-4 */
    margin-right: 1rem; /* Equivalent to Tailwind mx-4 */
}
.header_fourteen{
    display: none;
}
.header_fifteen{
    cursor: pointer; /* cursor-pointer */
  color: #fff; 
  display: none;
}
.header_sixteen{
    cursor: pointer; /* cursor-pointer */
    color: #fff;
    display: none;
}

.image_style{
    border-radius: 50%;
    margin-left: -20px;
}
















@media (min-width: 800px) {
    .header_seven{
      display: flex;
    }
  }
  @media (max-width: 800px) {
    .header_fourteen {
      display: block; /* Hide the element at 800px */
      margin-right: 10px;
      padding-top: 2px;
    }
   
  }
  












.one{
    width: 100%;

 
}
.two{
    position: absolute;
    top: 100px;
    height: 40vh;
    left: 5px;
    width: 40vh;
    border-radius: 50%;
    
    background: linear-gradient(147.92deg,rgba(44,47,226,.456) 10.41%,hsla(0,0%,100%,0) 89.25%)
}
.three{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 70px;
    z-index: 10;
    
}
.four{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    


}
.five{
    color:black;
    font-size: 30px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    font-weight: 600;
    font-family: 'Josefin', sans-serif;
    padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}
.six{
    color: rgba(0,0,0,0.67);
    font-family: 'Josefin', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.seven{
    width: 90%;
    height: 50px;
    background-color: black;
    position: relative;

}
.eight{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
    background-color: #39c1f3;
    top: 0;
    right: 0;
    cursor: pointer;
}
.nine{
    width: 90%;
    display: flex;
    align-items: center;

}
.ten{
    font-family: 'Josefin', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.img_style{
  object-fit: contain;
  width: 90%;
  max-width: 90%;
  width: 1500px;
  max-width: 85%;
  height: auto;
    z-index: 10;
}
input{
    background-color: transparent; 
    border-width: 1px;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    outline: none;
    columns: #0000004e;
    font-size: 20px;
    font-weight: 500;
    color:#fff;
    font-family: 'Josefin', sans-serif;
}
input::placeholder{
    color: #ffffffdd;
}
@media (min-width: 1100px) {
    .two{
        width: 600px;
        height: 600px;
    }
  }

@media (min-width: 1000px) {
   .one{
    display: flex;
    align-items: center;
   }
    .two{
        top: unset;
       
    }
    .three{
        padding-top: 0;
        min-height: 100vh;
        width: 40%;
    }
    .four{
        text-align: left;
        margin-top: 0;
        width: 60%;
    }
    .five{
        font-size: 70px;
        line-height: 75px;
        
    }
    .ten{
        padding-left: 0.75rem;
    }
  }
@media (min-width: 1100px) {
    .two{left: 8px;}
    .five{
        width: 78%;
     }
     .six,.seven,.nine{
        width:78%;
     }
  }
 
 @media (min-width: 1500px) {
    .two{
        left: 14px;
        width: 700px;
        height: 700px;
     }
     .five{
        width: 60%;
     }
     .six,.seven,.nine{
        width: 55%;
     }
     
}
