<div class="form-container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <!-- Current Password -->
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Current Password</label>
      <div class="input-group">
        <input type="{{ showCurrentPassword ? 'text' : 'password' }}" formControlName="currentPassword" class="form-control" id="currentPassword">
        <button type="button" class="btn btn-outline-secondary" (click)="toggleCurrentPasswordVisibility()">
          <i class="fa-thin fa fa-eye{{ showCurrentPassword ? '-slash' : '' }}"></i>
        </button>
      </div>
    </div>

    <!-- New Password -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <div class="input-group">
        <input type="{{ showNewPassword ? 'text' : 'password' }}" formControlName="newPassword" class="form-control" id="newPassword">
        <button type="button" class="btn btn-outline-secondary" (click)="toggleNewPasswordVisibility()">
          <!-- <i class="bi bi-eye{{ showNewPassword ? '-slash' : '' }}"></i>  -->
          <i class="fa-thin fa fa-eye{{ showNewPassword ? '-slash' : '' }}"></i>
        </button>
      </div>
    </div>

    <!-- Confirm New Password -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <div class="input-group">
        <input type="{{ showConfirmPassword ? 'text' : 'password' }}" formControlName="confirmPassword" class="form-control" id="confirmPassword">
        <button type="button" class="btn btn-outline-secondary" (click)="toggleConfirmPasswordVisibility()">
          <i class="fa-thin fa fa-eye{{ showConfirmPassword ? '-slash' : '' }}"></i>
        </button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onsubmit()">Change Password</button>
  </form>
</div>
