body{
    background: linear-gradient(to bottom, #111827, black);
    background-repeat: no-repeat;
}
.course_one{
    width: 90%;
margin-left: auto;
margin-right: auto;
padding-top: 1.25rem;
padding-bottom: 1.25rem;

}
.course_two{
    width: 100%;
display: flex;
flex-direction: column-reverse;

}
.course_three,.course_seven_one{
    width: 100%;
   
}
.course_header_one{
font-family: 'Poppins', sans-serif; 
font-size: 25px;
font-weight: 600;
color: white;
}
.course_header_two{
    color: #fff;
}
.course_four{
    display: flex;
align-items: center;
justify-content: space-between;
padding-top: 0.75rem;
}
.course_four_one{
    display: flex;
    align-items: center;
}
.course_four_two{
    display: flex;
    margin-top: 0.25rem; 
    margin-left: 0.5rem; 
}
.course_five{
    width: 100%;
    display: flex;
    padding-top: 0.5rem; 
}
.course_five_one{
    width: 15px; 
margin-right: 0.25rem; 
}
.course_five_two{
    padding-left: 0.5rem; 
color: white;
}
.course_six{
    margin-top: 15px;
    width: 100%;
}
.course_six_one{
    padding-top: 0.25rem;
}
.course_six_two{
    cursor: pointer;
}
.course_six_three{
    width: 100%;
    display: flex;
}
.course_six_four{
    width: 100%; 
display: flex; 
justify-content: space-between;
align-items: center;
}
.course_six_five{
    color:white;
    font-size: 22px;
}
.course_six_six{
    margin-right: 1rem; 
cursor: pointer; 
color: white; 
}

.course_seven_two{
    width: 100%;
cursor: pointer;
transition-property: all 0.3 ease; 
padding: 0.5rem;
}
.course_seven_three{
    display: flex;
    align-items: flex-start;
}
.course_header_three{
    font-size: 18px; 
display: inline-block; 
word-wrap: break-word; 
color: white;
}
.course_seven_four{
    padding-left: 2rem; 
color: white;
}

.course_eight{
    font-size: 18px; 
margin-top: 20px;
white-space: pre-line; 
width: 100%; 
overflow: hidden;
color: white;

margin-top: 20px;



}
.course_eight_one{
    margin-right: 0.5rem; 
cursor: pointer; 
}
.course_eight_three{
    margin-bottom: 0.5rem; 
}
.course_eight_four{
    font-family: Poppins;
    color: #fff;
    font-size: 25px;

}
.course_nine{
    width: 100%;
    padding-bottom:1 rem ;
}
.course_nine_one{
    display: flex;
}
.course_nine_two{
    width: 50px;
    height: 50px;
    
}
.profile_img{
    border-radius: 9999px;
    object-fit: cover; 
    border-width: 1px; 
    border-color: #44c67d;
    max-width: 100%;
    margin-top: 15px;
}
.course_nine_three{
    padding-left: 0.5rem;
    display: none;
}
.course_nine_four{
    display: flex;
    align-items: center;
}
.course_nine_five{
    font-size: 18px;
     padding-right: 0.5rem;
     color: white;
     background-color: red;
   
}
.course_nine_six{
    display: flex;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
}
.course-nine_seven,.course_nine_eight{
    color: white;
}

.course_nine_nine{
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}
.course_nine_ten{
    font-size: 18px; 
    padding-right: 0.5rem; 
    color: white;
}
.course_nine-eleven{
    display: flex; /* Set display to flex */
    margin-top: 0.25rem; /* Set margin-top to 0.25rem (4 pixels) */
    margin-left: 0.5rem; 
}



.course_video_one{
    width: 100%; /* Set width to 100% */
    position: relative;
}

.course_video_two{
    position: sticky; /* Set position to sticky */
    top: 100px; /* Set top to 100 pixels */
    left: 0; /* Set left to 0 */
    z-index: 50; /* Set z-index to 50 */
    width: 100%;
}
.course_video_three{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border:1px solid #fff;
}
.course_video_four{
   display: flex;
   justify-content: center;
   
}
.course_video_five{
    padding-top: 1rem; /* Set padding-top to 1.25rem (20 pixels) */
    font-size: 34px;
    color: #fff;


   
}
.course_video_six{
    padding-left: 0.75rem;
    padding-top: 1.25rem; /* Set left padding to 0.75rem (12 pixels) */
    font-size: 22px; /* Set font size to 20 pixels */
    margin-top: 1rem; /* Set margin-top to 0.5rem (8 pixels) */
    text-decoration: line-through; /* Apply line-through decoration to the text */
    opacity: 0.8; /* Set opacity to 0.8 (80%) */
    color: #fff; 
}
.course_video_seven{
    padding-left: 1.25rem; /* Set left padding to 1.25rem (20 pixels) */
    padding-top: 0.30rem; /* Set top padding to 1rem (16 pixels) */
    font-size: 22px; /* Set font size to 22 pixels */
    color: #fff; 
}
.course_video_eight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 9999px; /* A large value to make it circular */
    cursor: pointer;
    background-color: #2190ff;
    min-height: 45px;
    width: 100%;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600; /* Semibold */
    width: 180px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.course_video_eight:hover{
    background-color: crimson;
}
@media (min-width: 800px) {
    .course_one{
        width: 90%;
    }
    .course_two{
    flex-direction: row;
  }
  .course_three{
    width: 65%;
    padding-right: 1.25rem;  
  }
  .course_four_two,.course_nine-eleven{
    margin-top: 0;
    margin-left: 0;
  }
  .course_five{
    align-items: center;
  }
  .responsive_css{
    display: flex; 
  align-items: center;
  }
  .course_eight_three{
    margin-bottom: unset;
  }
  .course_nine_three{
    display: block;
  }
  .course_nine_four{
    display: block;
  
    padding-left: 2px;
  }
  .course_nine_six{
    margin-top: 0;
    margin-left: 0;

  }
  .course_nine-nine{
    display: none
  }
  .course_video_one{
    width: 35%;
  }
}