<div class="header_first">
  <div class="header_two">
    <div class="header_three" >
      <div class="header_four">
        <div>
          <a class="header_five" href="/">Mind Matrix</a>
        </div>
        <div class="header_six">
          <div class="header_seven">
            <a
              routerLink="/"
              class="nav-link"
              (click)="setActiveLink('home')"
              [class.active-link]="activeLink === 'home'"
            >
              <span
                class="header_eight"
                [class.active-link]="activeLink === 'home'"
                >Home</span
              >
            </a>
            <a
              routerLink="/courses"
              class="nav-link"
              (click)="setActiveLink('courses')"
              [class.active-link]="activeLink === 'courses'"
            >
              <span
                class="header_nine"
                [class.active-link]="activeLink === 'courses'"
                >Courses</span
              >
            </a>
            <a
              routerLink="/about-us"
              class="nav-link"
              (click)="setActiveLink('about')"
              [class.active-link]="activeLink === 'about'"
            >
              <span
                class="header_ten"
                [class.active-link]="activeLink === 'about'"
                >About</span
              >
            </a>
          
            <a
              routerLink="/faq"
              class="nav-link"
              (click)="setActiveLink('faq')"
              [class.active-link]="activeLink === 'faq'"
            >
              <span class="header_twelve">FAQ</span>
            </a>
          </div>
          

          <div *ngIf="isloggedin; else signInUpBlock" class="img">
            <!-- User is logged in, show user icon -->
            <a routerLink="/user-dashboard">
              <img src="../../assets/avatar.png" alt="User Icon" />
            </a>
            <!-- <a routerLink="/user-dashboard">
                <img src="../../../assets/images/avatar.png" alt="User Icon">
              </a> -->
          </div>
          <div class="header_fourteen" (click)="openSidebar()">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              aria-hidden="true"
              height="25"
              width="25"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16m-7 6h7"
              ></path>
            </svg>
          </div>
          <ng-template #signInUpBlock>
            <!-- User is not logged in, show sign in/up options -->
            <div class="img" (click)="openLoginModal()">
              <a routerLink=""><button>SignIn/Up</button></a
              ><img src="" alt="" />
            </div>
          </ng-template>
        </div>
      </div>





      <div class="header_sidebar_one" #yourDiv>
        <div class="header_sidebar_two" >
          <a href="/"><span class="header_sidebar_three"(click)="closeSidebar()">Home</span></a>
          <a href="/courses"><span class="header_sidebar_four"(click)="closeSidebar()">Courses</span></a>
          <a href="/about"><span class="header_sidebar_four"(click)="closeSidebar()">About</span></a>
          <a href="/policy"
            ><span
              class="header_sidebar_four"
              >Policy</span
            ></a
          ><a href="/faq"
            ><span
              class="header_sidebar_four"
              >FAQ</span
            ></a
          >
        </div>
        <div class="header_sidebar_five">
          <div class="header_sidebar_six">
            <a href="/"
              ><span
                class="header_sidebar_seven"
                >ELearning</span
              ></a
            >
          </div>
          <a href="/"><span class="header_sidebar_eight">Home</span></a
          > 
           <a routerLink="/courses" (click)="closeSidebar()" >
          <span
          class="header_sidebar_eight"
            >Courses</span
          >
        </a><a  routerLink="/about-us"(click)="closeSidebar()" 
            ><span
              class="header_sidebar_eight"
              >About</span
            ></a
          ><a    routerLink="/faq"(click)="closeSidebar()" 
            ><span
              class="header_sidebar_eight"
              >FAQ</span
            ></a
          >
        </div>
        <svg
        routerLink="/user-dashboard"(click)="closeSidebar()" 
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="header_sidebar_nine"
          height="25"
          width="25"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <br /><br />
        <p class="text-[16px] px-2 pl-5 text-black dark:text-white">
          Copyright © 2023 ELearning
        </p>
      </div>














    </div>
  </div>
</div>
