<div class="container">
  <!-- Search Bar -->
  <!-- <div class="search-bar">
      <input type="text" [(ngModel)]="searchText" placeholder="Search by title...">
      <button (click)="search()">Search</button>
    </div> -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" placeholder="Search by title..." (ngModelChange)="filterCourses()">
  </div>

  <div class="filter-container">
    <div class="filter-tags">
      <span class="filter-tag" (click)="applyTopicFilter('')">All</span>
      <span class="filter-tag" *ngFor="let topic of topics" (click)="applyTopicFilter(topic)">
        {{ topic }}
      </span>
    </div>
  </div>


  <!-- Course List -->
  <div class="course-list">
    <h2>Course List</h2>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let course of filteredCourses">
        <mat-card class="course-card">
          <img mat-card-image src="{{ course.imageUrl }}" alt="{{ course.title }}">
          <mat-card-content>
            <h3>{{ course.title }}</h3>
            <p>{{ course.description }}</p>
            <p>Duration: {{ course.duration }}</p>
            <p>Topic: {{ course.topic }}</p>
            <p>Price: {{ course.price }} Rs</p>
            <p>Rating: {{ course.rating }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>