<div class="Modal" tabindex="2" id="ForgotPasswordModal" #forgotPasswordModal>
  <div class="Modal_box">
    <h1 class="Modal_Title">Forgot Password</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <label class="lbl1_user" for="email">Enter your Email</label>
      <div class="form_box">
        <input id="email" placeholder="Enter your Email" formControlName="email" class="txt1_user" type="email" />
        <mat-error class="validate_msg" *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">Email is required.</mat-error>
      </div>
      <label class="lbl1_user" for="newPassword">Enter New Password</label>
      <div class="form_box">
        <input id="newPassword" placeholder="Enter New Password" formControlName="newPassword" class="txt1_user" type="password" />
        <mat-error class="validate_msg" *ngIf="forgotPasswordForm.get('newPassword')?.invalid && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">Password is required.</mat-error>
      </div>
      <label class="lbl1_user" for="otp">Enter OTP</label>
      <div class="form_box">
        <input id="otp" placeholder="Enter OTP" formControlName="otp" class="txt1_user" type="number" />
        <mat-error class="validate_msg" *ngIf="forgotPasswordForm.get('otp')?.invalid && (forgotPasswordForm.get('otp')?.dirty || forgotPasswordForm.get('otp')?.touched)">OTP is required.</mat-error>
      </div>
      <div class="submit_sec">
        <input class="submit_btn" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
