/* login.component.css */
.Modal {
    position: absolute;
    z-index: 100;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 16px;
    border: 2px solid white;
    background-color: rgb(15 23 42);
}



.Modal_box {
    width: 100%;
}

.Modal_Title {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.lbl1_user {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.validate_msg {
    color: crimson;
}

.txt1_user {
    width: 100%;
    padding-left: 0.5rem;
    height: 40px;
    border-radius: 0.25rem;
    border-width: 1px;
    color: #fff;
    border-style: solid;
    padding-right: 0.5rem;
    margin-top: 1.0rem;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
}

.submit_sec {
    margin-top: 2rem;
    width: 100%;
}

.submit_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid blue;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 9999px;
    cursor: pointer;
    min-height: 45px;
    background-color: #2190ff;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.form_box {
    width: 100%;
    margin-top: 1.25rem;
    position: relative;
    margin-bottom: 1.5rem;
}

/* Media Queries for Responsiveness */

@media (max-width: 800px) {
    .Modal {
        max-width: 450px;
    }
}

@media (max-width: 600px) {
    .Modal_Title {
        font-size: 20px;
    }
    
    .lbl1_user {
        font-size: 16px;
    }
    
    .txt1_user {
        height: 35px;
    }
    
    .submit_btn {
        min-height: 40px;
    }

}
