<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            min-width: 100%;
            background-color: #fafafa;
            color: #222222;
            line-height: 1.5;
            font-size: 16px;
        }
        a{
            color: #000;
            text-decoration: none;
        }
        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            text-align: center;
            margin-top: 0;
            margin-bottom: 15px;

        }
        p{
            margin-top: 0;
            margin-bottom: 15px;
        }
        table td{
            vertical-align: top;
        }
        .email-wrapper{
            max-width: 600px;
            margin: 0 auto;

        }
        .email-header{
            background-color: #0070f3;
            padding: 24px;
            color: #fff;
        }
        .email-body{
            padding: 24px;
            color: #fff;
        }
        .email-footer{
            background-color: #f6f6f6;
            padding: 24px;
        }
        .button{
            display: inline-block;
            background-color: #0070f3;
            color: #fff;
            font-size: 16px;
            font-weight:700;
            padding: 12px 24px;
            border-radius: 4px;

        }

    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to MindMatrix</h1>
        </div>
        <div class="email-body">
            <p>Hello <%=user.name%>,</p>
            <p>Thank you for Registering.To activate you account,please use the following Code</p>
            <h2><%=activationCode%></h2>
            <p>Please Enter code within 5 minutes.</p>
        </div>
        <div class="email-footer">
            For Query Contact<a href="mailto:support@codemy.com">support@codemy.com</a>
        </div>
    </div>
</body>
</html>