<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply Notification</title>
</head>
<body>
    <h1>Hello <%= name%></h1>
    <p>You have a reply to your Comment</p>
    <p>Please login to website to view reply and continue discussion</p>
</body>
</html>