<div class="nav-items">
    <div class="nav-item">
      <fa-icon [icon]="faDashboard" routerLink="/AdminDashboard/main"></fa-icon>
      <span routerLink="/AdminDashboard/main">Dashboard</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>Users</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faPlusCircle "></fa-icon>
      <span>Add Course</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faBook"></fa-icon>
      <span>View Course</span>
    </div>
  
   
    
    <div class="nav-item">
      <fa-icon [icon]="faHand"></fa-icon>
      <span>Help</span>
    </div>
  </div>
  