<div class="feedback-form">
    <h2 style="text-align: center;">Feedback Form</h2>
    <form (ngSubmit)="submitFeedback()" #feedbackForm="ngForm" novalidate>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="formData.name" required #name="ngModel">
            <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="error-message">
                <div *ngIf="name.errors?.['required']">Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="formData.email" required email #email="ngModel">
            <div *ngIf="email.errors?.['required'] && (email.dirty || email.touched)" class="error-message">
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Invalid email format.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" [(ngModel)]="formData.subject" required #subject="ngModel">
            <div *ngIf="subject.errors?.['required'] && (subject.dirty || subject.touched)" class="error-message">
                <div *ngIf="subject.errors?.['required']">Subject is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" [(ngModel)]="formData.message" required #message="ngModel"></textarea>
            <div *ngIf="message.errors?.['required'] && (message.dirty || message.touched)" class="error-message">
                <div *ngIf="message.errors?.['required']">Message is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <div class="star-rating">
                <app-star-rating (ratingSelected)="onRatingSelected($event)"></app-star-rating>
            </div>
            <input type="hidden" id="rating" name="rating" [(ngModel)]="formData.rating">
            <span *ngIf="!ratingSelected" class="error-message"></span>
        </div>
        <br>
        <button type="submit" [disabled]="feedbackForm.invalid || !ratingSelected">Submit</button>
    </form>
</div>
